.promo-banner {
    .promo-banner-wrapper {
        display: flex;
        justify-content: space-between;
        .promo-banner-item {
            display: flex;
            flex-direction: column;
            width: 509px;
            background-color: $box-background-color-light;
            border-radius: $border-radius;
            box-shadow: $box-shadow-border;
            height: 250px;
            gap: 20px;
            padding: 0 180px 0 40px;
            box-sizing: border-box;
            justify-content: center;
            
            .promo-banner-title {
                font-size: 32px;
                font-weight: 600;
                color: $text-color-light;
                text-transform: uppercase;
                
            }

            .promo-banner-subtitle {
                color: $text-color-light;
            }

            &.-img1 {
                background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../assets/img/kit-2-programas.png);
                background-size: cover;
            }

            &.-img2 {
                background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../assets/img/kit-3-programas.png);
                background-size: cover;
            }

            &.-img3 {
                background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../assets/img/kit-4-programas.png);
                background-size: cover;
            }
            
        }
    }
}