.search-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 533.8px;
    padding: 4px;
    gap: 10px;

    .input-wrapper {
        display: flex;
        height: 36px;
        padding: 4px 12px;
        align-items: center;
        gap: 10px;
        align-self: stretch;
        border: 1px solid #E4E4E7;
        border-radius: 6px;

        .input-icon {
            width: 20px;
            height: 20px;
        }
    }

    .search-input {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 100%;
        border: none;
        outline: none;

        &::placeholder {
            color: #52525B;
            font-size: 14px;
            font-weight: 500;
            opacity: 0.6;
        }
    }
}
